body {
    background-color: lightblue;
    color: navy;
    padding: 20px;
    font-family: Verdana, sans-serif;
}

h1, h3 {
    font-weight: bold;
}

h3 {
    text-align: center;
}

ul, ol {
    background-color: darkblue;
    color: white;
    padding: 30px;
}

li {
    margin: 10px;
}

a {
    color: white;
}

a:hover {
    color: cyan;
}